
/* elements */

body {
    font-family: 'Karla', sans-serif; 
    background-color: #000;
    color: #fff;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding:0;
}


header {
    display: flex;
    flex-direction: row;
    align-items: start;
}

div {
    width: fit-content;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a {
    padding: 0%;
    margin: 0%;
    width: fit-content;
    font-family: 'Cormorant Garamond', serif;
}

p {
    font-family: 'Karla', sans-serif; 
    margin:0;
    padding:0;
}

a {
    text-decoration: none ;
}


nav a:visited {
    color: #a8a8a8;
}

a:link, a:visited {
    color: #fff;
}

h1 a:link, h1 a:visited {
    color: #b90000;
}


img, figure {
    padding: none;
    margin: 0%;
    max-width: 100%;
}

button {
    border: none;
    background-color:rgba(0, 0, 0, 0);
    color: #a8a8a8;
    font-size: medium;
    font-weight: bold;
    align-self:start;
    width: fit-content;
    margin:0;

}

.fa-moon {
    vertical-align: 0;
}




/* header/navbar */


.main-menu-full ul {
    margin:0;
    padding: 0;
}

.main-menu-full {
    display: flex;
    flex-direction: column;
    width:100%;
}


nav ul li {
    list-style: none;
    font-family: 'Cormorant Garamond', serif;
    color: #a8a8a8;
}

nav a {
    color: #a8a8a8;
    text-decoration: underline;
    font-size: 1.2em;
}


.nav-columns {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.home {
    flex: 85%;
}

.home h1 {
    color: #b90000;
    font-style:normal;
    font-size:2.5em;
}

.home h3 {
    color: #a8a8a8;
}

.home-img {
    width: 60%;
}

.nav-columns button {
    width: 1.35em;
}

#plusText, #minusText {
    font-family: 'Cormorant Garamond', serif;
}

#plusText {
    font-size:1.1em;

}



/* alignment */

.left {
    display: flex;
    justify-content: left;
}

.right{ 
    display: flex;
    justify-content: right;
}

.center {
    display: flex;
    justify-content: center;
}

/* structuring */

.section {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.page-title {
    display: flex;
    width:100%;
    justify-content: center;
    margin-bottom:2em;
}

/* sketchbook */

.sketchbook-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.sketch-preview:hover {
    scale:102%;
}

.sketchbook-entry {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding-bottom:1em;
    padding-left:4.5em;
    padding-right:4.5em;
    width: 25%;
}

.sk-vert {
    width: 20%;
}

.sketchbook-title {
    width: 100%;
    display: flex;
    align-items: end;
    padding-bottom: .15em;
}

.sketchbook-entry figure {
    width: 100%;
}


.sketchbook-title h3 {
    font-weight:bold;
    font-size: 1.75em;
}

.sketchbook-title h4 {
    color: #a8a8a8;
    text-align: end;
    width: 100%;
}

.three-column figure {
    width: 50%;
}

.sketchbook-nav {
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}

.sketchbook-nav p, .sketchbook-nav a {
    color: #a8a8a8;
    font-family: 'Cormorant Garamond', serif;
}

/* columning gridding */

.two-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.three-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: grid;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    justify-items: center;
}

.gallery-three {
    grid-template-columns: repeat(3, 1fr);
}

.gallery-two {
    grid-template-columns: repeat(2,1fr);
    width: 66%;
}

.gallery-three figure {
    width: 85%;
    justify-self: center;   
}

.gallery-two figure {
    width: 75%;
}

/* journal */
.notebook-entry {
    display: flex;
    flex-direction: column;
    align-content: left;
    width: 80%;

}

.notebook-grid {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.2em;
    margin-top: 1.2em;
    align-items: end;
}

.grey {
    color: #a8a8a8;
}

.entry-details {
    justify-content: start;
}

.n-date {
    margin-right: .5em;
    color: #a8a8a8;
}

/* photo */

.collection-grid {
    grid-template-columns: repeat(3, 1fr)
}

/* collection */
.collection-grid {
    grid-template-columns:repeat(4,1fr);
    column-gap: 1.25em;
    row-gap: 1.25em;
    align-items: end;
    justify-items: center;
}

.collection-item {
    max-width: 95%;
}

/* hover */
button:hover, a:hover, nav a:hover, h3 a:hover {
    color: #b90000;
}

h1 a:hover {
    color:#a8a8a8;
}



/* hidden */
.hidden {
    display: none;
}

