
/* elements */

body {
    font-family: 'Karla', sans-serif; 
}

div {
    width: fit-content;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0%;
    margin: 0%;
    width: fit-content;
    font-family: 'Cormorant Garamond', serif;
}

p {
    font-family: 'Karla', sans-serif; 
}

a {
    font-family: 'Karla', sans-serif; 
}

img, figure {
    padding: none;
    margin: 0%;
}

button {
    border: none;
}




/* header/navbar */

.menu-bar-full a {

}


nav ul li {
    list-style: none;
    font-family: 'Cormorant Garamond', serif;
}



/* alignment */

.left {
    justify-content: left;
}

.right{ 
    justify-content: right;
}

.center {
    justify-content: center;
}

/* structuring */

.section {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}



/* previews */

.sketchbook-preview {
    align-content: left;
}

.notebook-preview {
    align-content: left;

}


/* hidden */
.hidden {
    display: none;
}

